* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #24100e;
}

canvas#shader6-canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: auto;
}
