.wave-container {
  width: 86vw;
  max-width: 1240px;
  height: 24px;
  overflow: hidden;
  margin: 0 auto;
}

.wave-container.top-wave-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.second-page-wave {
  width: 100%;
  height: 100%;
  display: block;
}
